@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Ga+Maamli&display=swap');

.hello{
    font-family:  "Dancing Script", cursive;
}

.p1{
    font-family:  "Ga Maamli", sans-serif;
}

.p2{
    font-family:  "Ga Maamli", sans-serif;
}

.p3{
    font-family:  "Ga Maamli", sans-serif;
}

.p4{
    font-family:  "Ga Maamli", sans-serif;
}